<div data-id="{{ moduelId }}">
    <h1 data-bind="title"></h1>
    <input type="text" id="input" placeholder="Type a todo">
    <ul class="list">
    {{#each todos}}
        <li>{{ this }}</li>
    {{/each}}
    </ul>
</div>